.btn
  display: inline-block
  text-decoration: none
  border: 1px solid primary
  border-radius: 8px
  color: primary
  line-height: 42px
  padding-left: 1.25em
  padding-right: 1.25em
  box-shadow: rgba(0,0,0,.3) 0 2px 2px
  &.primary
    background: primary
    color: white