.btn
  display inline-block
  text-decoration none
  border 1px solid primary
  border-radius 8px
  color primary
  line-height 1.5em
  padding 9px 1.25em
  box-shadow rgba(0,0,0,.3) 0 2px 2px
  &.primary
    background primary
    color white


.fr
  float right

.fl
  float left

.clearfix
  clearfix()  

.section-heading
  padding-top 160px
  text-align center
  margin-bottom: calc(40px - .25em)

.content
  max-width 1064px
  box-sizing border-box
  padding-right 32px
  padding-left 32px
  margin-right auto
  margin-left auto
  position relative

.narrow-content
  width: 64%
  max-width: 640px
  margin-right auto
  margin-left auto
  position relative

.m1
  margin-em(1em)
  
.m2
  margin-em(2em)

.m3
  margin-em(3em)

.m4
  margin-em(4em)

.m4
  margin-em(5em)
.text-center
  text-align center