white = #fff
primary = #707e87
black = #1b1e20
light = #d5dadc
smoke = #f1f3f4

html
  background: primary

body
  background: primary
  color: black

.g-nav
  background: white
  padding-left: 32px
  padding-right: 32px
  position: fixed
  width: 100%
  top: 0
  left: 0
  z-index: 100

.g-nav-logo
  fill: primary
  width: 71px


@import '_btn'