@import url('https://fonts.googleapis.com/css?family=Cabin:600')
@import '_valiables'
@import '_mixins'
@import '_base'
@import '_modules'

.g-nav
  background white
  padding 22px 2em
  position fixed
  width 100%
  box-sizing border-box
  top 0
  left 0
  z-index 100
  box-shadow rgba(0,0,0,.5) 0 4px 8px
  transition-property all
  transition-duration .3s
  +sp-only()
    padding: 10px 15px 
    transition-property all
    transition-duration .3s
    transform translateY(-100%)
    background-color rgba(white, .9)
    &.on
      transform translateY(0%)
  .btn-cta
    +sp-only()
      font-size 11px
      padding-top 5px
      padding-bottom 5px
      border-radius 3px
.g-nav-link
  line-height 44px
  text-decoration none
  vertical-align top
  +sp-only()
    display none
  + .g-nav-link
    margin-left 2em
    +tablet-only()
      margin-left 1.25em

.g-nav-logo
  margin-right 2em
  +tablet-only()
    display none
  > svg
    fill primary
    height 44px
    vertical-align top
    +sp-only()
      height 28px

#hero
  background url(../img/hero.jpg) no-repeat center center
  background-size cover
  width 100%
  height 960px
  position relative
  +sp-only()
    height 720px

.hero-inner
  max-width 90%
  color white
  display block
  position relative
  top 50%
  left 50%
  text-align center
  transform translate(-50%, -50%)
  z-index 2
  text-shadow: rgba(0,0,0,.3) 0 0 5px
  > h1
    font-size 2em
    line-height (42/32)
    margin-bottom: (40em/32)
    letter-spacing .13em
    +sp-only()
      margin-left -5vw
      margin-right -5vw
      font-size 1.333em
  > p
    font-size (20/16)em
    line-height (36/20)
    margin-top: (40em/20)
    +tablet-under()
      text-align left
    +sp-only()
      font-size 1.2em


#about
  background url(../img/bg_about.png) no-repeat right top
  background-size (982px/2) auto
  +tablet-under()
    background-size (982px/4) auto

.about-lead
  margin-em(2.5em)
.about-feature-container
  width 100%
  position relative
  margin-bottom 2.5em
  clearfix()
  +sp-only()
    display none

.about-feature
  width 33.333%
  float left

.swiper-container
  width 100%
.swiper-pagination-bullet
  background white
.swiper-pagination-bullet-active
  background white
.swiper-button-next
  background url(../img/arrows.svg) no-repeat right center
  background-size 54px 44px

.swiper-button-prev
  background url(../img/arrows.svg) no-repeat left center
  background-size 54px 44px

+sp-only()
  #access
    text-align center

#mapPC, #mapSP
  width 100%
  height 25em
  background smoke
#mapPC
  +sp-only()
    display none !important
#mapSP
  display none
  +sp-only()
    display block

.access-info
  position absolute
  z-index 2
  background rgba(255,255,255,.8)
  padding 0 1.5em
  top 50%
  left 3em
  transform translateY(-50%)
  > dl
    margin-em(2em)
    clearfix()
    > dt, dd
      float left
    > dt
      width 5em
  +sp-only()
    display inline-block
    position static
    transform none
    background none
    padding 0 0 !important
    > dl
      text-align left
    
.icon-sns
  display inline-block
  vertical-align top
  > img
    height 2.5em

#smoke
  position relative
  background smoke url(../img/bg_guidelines.png) no-repeat left 80px
  background-size 400px auto
  +tablet-under()
    background-size 200px auto
  margin-top-large()
  padding-bottom-large()
  &:before
    content ''
    display block
    width 0
    height 0
    position absolute
    top 0
    left 0
    border-top 40px solid white
    border-right 50vw solid smoke
    border-bottom 40px solid smoke
    border-left 50vw solid white
  +sp-only()
    &:before
      border-top-width 20px
      border-bottom-width 20px

  .table-details
    th
      width 4em

.table-figure
  width 22%
  padding-top 22%
  background no-repeat center center
  background-size cover
  position absolute
  height 0
  bottom 0
  &.fr
    right 32px
  &.fl
    left 32px
  +sp-only()
    width 100%
    height 15em
    padding-top 0
    margin-top 2em
    position static

.contact-link
  display none
  +sp-only()
    display block
    text-align center
    margin-top 5em
 
#steps
  position relative
  &:before
    content ''
    display block
    width 0
    height 0
    position absolute
    top 0
    left 0
    border-top 40px solid smoke
    border-right 50vw solid smoke
    border-bottom 40px solid white
    border-left 50vw solid white
  +sp-only()
    &:before
      border-top-width 20px
      border-bottom-width 20px

.steps-wrapper
  counter-reset: steps;

.step
  position relative
  padding-top 1.5em
  padding-left 3.5em
  margin-top 2em
  &:before
    counter-increment steps
    content counter(steps)
    display block
    position absolute
    font-size 2.25em
    font-family: 'Cabin', Arial, sans-serif
    font-weight bold
    left 0
    top 1em
    color primary
    width (3.5em/2.25)
    text-align center
    line-height 1
    z-index 2
  > h3, p
    position relative
    z-index 3
  > h3
    font-weight bold
    margin-em(1.5em)
.step-bg
  fill light
  z-index 1
  position absolute
  left 0
  top 0
  width (130em/16)

#example
  position relative
  background url(../img/bg_example.png) no-repeat right bottom
  background-size 258px auto
  +tablet-under()
    background-size (258px/2) auto
  padding-bottom-large()

.ex-container
  +tablet-under()
    width 100vw
    margin-left -5vw
    margin-right -5vw
    overflow-x scroll
    -webkit-overflow-scrolling touch
    overflow-scrolling touch

.col-wrapper
  +tablet-under()
    white-space nowrap
  +pc-only()
    margin-left -20px
    margin-right -20px
    margin-bottom -1.5em
    clearfix()
.col
  +tablet-under()
    display inline-block
    width 90%
    margin-left 5vw
    vertical-align top
    + .col
      margin-left 2.5vw
    &:last-child
      margin-right 5vw
  +pc-only()
    width 50%
    padding-left 20px
    padding-right 20px
    box-sizing border-box
    float left

.ex-figure
  display block
  background no-repeat center center
  background-size cover
  border-radius 5px
  position relative
  overflow hidden
  padding-bottom (36000/480)%
  margin-bottom 1.5em
  > figcaption
    position absolute
    bottom 0
    background rgba(255,255,255,.8)
    overflow hidden
    padding .5em 1.5em
    white-space normal


#bottom
  position relative
  background primary url(../img/bg_footer.png) no-repeat right bottom
  background-size 494px auto
  +tablet-under()
    background-size (494px/2) auto
  color white

#contact
  position relative
  background url(../img/bg_contact.png) no-repeat left top
  background-size auto 72px
  +tablet-under()
    background-size auto (72px/2)
    background-position (-1958px/8) 0

.contact-row
  margin-top 2em
  margin-bottom 2em
  position relative
  clearfix()
.label
  float left
  font-weight bold
  line-height 3em
  text-align right
  width 8em
  padding-right 2em
  +sp-only()
    float none
    text-align left
.input
  padding-left 10em
  +sp-only()
    padding-left 0
  > input, > textarea
    width 100%
  > textarea
    height 10em

#footer
  border-top 4px solid white
  text-align center
  padding: 5em 0
  margin-top-large()

.modal-cover
  display none
  position fixed
  z-index 200
  top 0
  left 0
  right 0
  bottom 0
  width 100%
  height 100%
  background rgba(0,0,0,.5)
  overflow-y scroll
  
.modal-wrapper
  position relative
  padding 2em 0

.modal-content
  width 64%
  max-width 640px
  background white
  box-sizing border-box
  padding 1em 2em
  margin-left auto
  margin-right auto
  +sp-only()
    width 90%
    padding 1em 1em
  
#confirm
  .label
    line-height 1.5
  input, textarea
    line-height 1.5
    background none
    color black
    border none
    appearance none
    height auto
    padding 0
    resize none
    &:focus
      outline none