header.g-nav
  nav.fl
    a(href="#top")
      != partial("_logo_fill", {klass: "g-nav-logo"})
    a(href="#about") &Aring;reについて
    a(href="#guidelines") 募集要項
    a(href="#spec") 仕様・設備
    a(href="#steps") 実施までの流れ
    a(href="#sample") 開催事例
  nav.fr
    a.btn.primary(href="#contact") お問い合わせ

